@charset "utf-8";

:root{
    --Montserrat : "Montserrat", sans-serif;
    --Montaga : "Montaga", serif;
    --main-color : #c27a34;
}

body { font-family: "Noto Sans KR", sans-serif ; font-size: 1.6rem; line-height: 1.5; color: #000; }

.inner { max-width: 1640px; margin: 0 auto; padding: 0 20px; }



/*header*/
#header { color: #fff; position: absolute; left: 0; top: 0; width: 100%; z-index: 10; padding-top: 20px; }
#header .inner { max-width: 1740px; display: flex; justify-content: space-between; align-items: center; }

#header h1 { width: 170px; height: 60px; }
#header h1 img { width: 100%; }


#header .gnb { display: flex; }
#header .gnb > li > a { display: block; padding: 10px 50px; font-size: 2rem; font-family: var(--Montserrat); }

#header .Reservation { font-family: var(--Montserrat); padding: 10px 20px 10px 60px ; border: 1px solid #fff; background: url(../images/icon_reservation.png)no-repeat left 20px center; }


#header .btn_ham {display: none; width: 30px; height: 3px; font-size: 0; cursor: pointer; }
#header .btn_ham::before { display: block; content: ""; background: #fff; width: 100%; height: 100%; transform: translateY(-3px); }
#header .btn_ham::after { display: block; content: ""; background: #fff; width: 100%; height: 100%; transform: translateY(3px); }  


#header .mgnb_wrap { position: fixed; left: 100%; top: 0; width: 100%; height: 100%; background: #fff; color: #000; padding: 150px 50px; } 
#header .mgnb_wrap .mgnb { font-family: var(--Montaga); font-size: 3rem; border-top: 1px solid #000; }
#header .mgnb_wrap .mgnb li { padding: 20px 0; border-bottom: 1px solid #ccc; }
#header .mgnb_wrap .btn_colse { position: absolute; right: 50px; top: 100px; width: 40px; height: 40px; font-size: 0;  cursor: pointer; }

#header .mgnb_wrap .btn_colse::before { content: ""; display: block; width: 100%; height: 1px; background: #333; transform: rotate(-45deg) translate(-13px, 14px); }
#header .mgnb_wrap .btn_colse::after { content: ""; display: block; width: 100%; height: 1px; background: #333; transform: rotate(45deg) translate(13px, 13px) ;  }





@media (max-width:1024px){
    #header .Reservation {  position: absolute; top: 80vh; left: 50%; transform: translateX(-50%); }
    #header .gnb { display: none; }
    #header .btn_ham { display: block; }
    #header h1 { width: 130px; height: 30px; }
}


/*section 공통*/
section h2 { font-family: var(--Montaga); font-size: 6rem; font-weight: 400; }
section h2::before { display: block; content: "Restaurant o’neul"; color: var(--main-color); font-size: 1.4rem; font-family: var(--Montserrat); font-weight: 200;letter-spacing: 5px; }

@media (max-width:1024px){
   section h2 {  font-size: 5rem;  }
}

@media (max-width:750px){
   section h2 {  font-size: 4rem;  }
   section h2::before {  font-size: 1rem; }
}





/*visual*/
.visual video { position: absolute; left: 0;top: 0; width: 100%; height: 100%; object-fit: cover; }
.visual .visual_txt { position: absolute; top: 50%; left: 50%; transform:  translate(-50%,-50%); color: #fff; text-align: center; width: 80%; }
.visual .visual_txt h2 { font-size: 8rem; font-family: var(--Montaga); font-weight: 400; }
.visual .visual_txt h2::before { display: none; }
.visual .visual_txt p { font-size: 2.5rem; margin-top: 30px; }




@media (max-width:1300px){
   .visual .visual_txt h2 { font-size: 6rem; }
   .visual .visual_txt p { font-size: 2rem; }
}

@media (max-width:1024px){
   .visual .visual_txt h2 { font-size: 5rem; letter-spacing: -1px; }
   .visual .visual_txt p { font-size: 1.6rem; }
}

@media (max-width:750px){
   .visual .visual_txt h2 { font-size: 3.5rem; }
   .visual .visual_txt p { font-size: 1.4rem; }
}








/*value*/
.value { padding: 100px 0; }
.value .inner { display: grid; grid-template-columns: 1fr 1fr; align-items: center; max-width: 1540px; gap: 30px 0 ; }
.value .value_img img { width: 100%; }

.value .value_txt p { font-family: var(--Montserrat); color: #8e8e8e; margin: 30px 0 ; }

.value .btn_more a { display: inline-block; text-transform: uppercase; color: #fff; padding: 10px 50px ; background: #000; font-family: var(--Montaga); font-weight: 400; transition: all 0.5s; }
.value .btn_more:hover a { background: var(--main-color); }


@media (max-width:1024px){
   .value .inner { grid-template-columns: 1fr ; text-align: center;  }
}

@media (max-width:1024px){
   .value .inner { grid-template-columns: 1fr ; text-align: center;  }
}
@media (max-width:750px){
   .value .value_txt p { font-size: 1.4rem; }
   .value .btn_more a  { font-size: 1.2rem; padding: 8px 30px ; }
}






/*menu*/
.menu  { padding: 100px 0; background: #f9f1ea; }
.menu .inner { text-align: center; }
.menu .menu_list {  margin-top: 30px; align-items: start; }
.menu .menu_list li { position: relative; text-align: center; }
.menu .menu_list li:nth-child(2n+1) { margin-top: 50px; }
.menu .menu_list li a img { width: 100%; }
.menu .menu_list li span { font-size: 3rem; display: inline-block; position: absolute; width: 100%; left: 0; top: 50%; transform: translateY(-50%); color: #fff; font-family: var(--Montaga); isolation: isolate; }
.menu .menu_list li span::after {position: absolute; left: 0; top: calc(50% - 30px); transform:  scale(0,1);  content: ""; display: inline-block; width: 100%; height: 60px; background: var(--main-color); z-index: -1;  transition: all 0.5s; }

.menu .menu_list li:hover span::after { transform: scale(1,1); }


@media (max-width:1000px){
   .menu .inner { padding: 0 40px; }
}

@media (max-width:600px){
   .menu .menu_list li:nth-child(2n+1) { margin-top: 0; }
}





/*room*/
.room  { padding: 100px 0; }
.room .inner { text-align: center; }
.room h2 { margin-bottom: 30px; }
.room .room_list li { position: relative; }
.room .room_list li img { width: 100%; }
.room .room_list li p { z-index: 10; position: absolute; left: 50%; transform: translateX(-50%); bottom: 0; background: #fff; padding: 15px 30px 0px 30px; font-family: var(--Montserrat); font-size: 2rem; }

@media (max-width:750px){
   .room .room_list li p { padding: 10px 20px 0px 20px;  font-size: 1.6rem; }
}




/*footer*/
#footer { background: #383431; padding: 100px 0; }
#footer .inner { position: relative; }
#footer .address { padding: 20px 0;  }
#footer .address p { color: #665e5a; }
#footer .address p span:nth-child(2n+1) { padding-right: 10px; color: #9b8f88 }
#footer .address p span:nth-child(2n) { padding-right: 10px; }
#footer .copy { font-family: var(--Montaga) ; color: #8e7a66; }
#footer .footer_link { position: absolute; right: 20px; top: 0; }
#footer .footer_link a { margin: 0 8px; }




@media (max-width:1100px){
   #footer .inner { text-align: center; font-size: 1.4rem; }
   #footer .footer_link { position: static; padding-top: 20px; }
}

@media (max-width:750px){
   #footer .inner {  font-size: 1.2rem; }
   #footer { padding: 50px 0; }
}







#fp-nav ul li .fp-tooltip { color: #000; }

@media (max-width:1400px){
   #fp-nav { display: none; }
}























































































